<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="/static/styles/petclinic.css" type="text/css"/>
  <title>PetClinic :: a Rails + Spring demonstration</title>	
</head>

<body style="background-image: url(/static/images/rails-banner-graphic.png);">

  <div id="main">

  <%= yield %>

  <table class="footer">
    <tr>
      <td><a href="/">Home</a></td>
      <td align="right"><img src="/static/images/springsource-logo.png" alt="Sponsored by SpringSource"/></td>
    </tr>
  </table>

  </div>
</body>

</html>
