<h2>Veterinarians:</h2>

<table>
  <thead>
    <th>Name</th>
    <th>Specialties</th>
  </thead>
  <% @vets.each do |vet| -%>
    <tr>
      <td><%= vet.firstName %> <%= vet.lastName %></td>
      <td>
        <% vet.specialties.each do |specialty| -%>
          <%= specialty.name %>
        <% end -%>
        <% if vet.nr_of_specialties == 0 %>none<% end -%>
      </td>
    </tr>
  <% end -%>
</table>
<table class="table-buttons">
  <tr>
    <td>
      <a href="/vets.xml">View as XML</a>
    </td>
    <td>
      <a href="/vets.json">View as JSON</a>
    </td>
  </tr>
</table>
