<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= stylesheet_link_tag :all %>
  <title>PetClinic :: a Rails + Spring demonstration</title>	
</head>

<body>

  <div id="main">

  <%= yield %>

  <table class="footer">
    <tr>
      <td><a href="/">Home</a></td>
      <td align="right"><%= image_tag 'springsource-logo.png', :alt => "Sponsored by SpringSource" %></td>
    </tr>
  </table>

  </div>
</body>

</html>
